{
  "openapi": "3.1.1",
  "info": {
    "title": "SStats.net - Football API",
    "description": "API футбольных матчей, доматчевые и live коэффициенты, статистика, профиты, Glicko 2\r\n\r\nВесь функционал API бесплатен, с ограничением по количеству запросов. \r\nБез api ключа ограничение 300 в минуту запросов на всех пользователей, или 30 запросов в минуту на 1 IP адрес.\r\n\r\n[Введение в API](https://sstats.net/api)",
    "contact": {
      "name": "Поддержка",
      "url": "https://vk.com/sstats_net"
    },
    "version": "0.9.40.0"
  },
  "servers": [
    {
      "url": "https://api.sstats.net",
      "description": "SStats.net API"
    }
  ],
  "paths": {
    "/Account/Info": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Аккаунт",
        "description": "Получение данных о текущем авторизированном пользователе",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfAccountInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiAuthScheme": []
          }
        ]
      }
    },
    "/Excel/Delux": {
      "get": {
        "tags": [
          "Excel"
        ],
        "summary": "Delux",
        "description": "Запрос используется в excel таблице для прогнозирования футбольных матчей DeluX_API-based.\nЭта таблица является модификацией таблицы *DeluX_plus IncoProrok.xlsm*, в которой парсер сайта Flashscore заменен на API сайта sstats.net\n            \nЗапрос за раз выгружает все необходимые данные, которая требует таблица для анализа матча\n\nПодробнее о таблице и использованию запроса в руководстве [Excel Delux](https://sstats.net/posts/api-excel-delux)\n            \nДля получения данных по конкретному матчу необходимо указать *gameId*\nДля получения данных за день, необходимо указать *dayOffset*",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "dayOffset",
            "in": "query",
            "description": "День. 0 - сегодня, -1 - вчера, -2 - позавчера, 1 - завтра, 2 - после завтра и т.д. Диапазон: [-1000, 30]",
            "schema": {
              "maximum": 30,
              "minimum": -1000,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Часовой пояс",
            "schema": {
              "maximum": 12,
              "minimum": -12,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {}
            }
          }
        }
      }
    },
    "/Excel/FootballCalc": {
      "get": {
        "tags": [
          "Excel"
        ],
        "summary": "Football calculation",
        "description": "Запрос, используемой в excel таблице для прогнозирования матчей football-calculation-table_API-based.xlsb\n            \nЭта таблица является модифицированной версией football-calculation-table-v.2.1-by-kish.xlsb\n\nДля получения данных по конкретному матчу необходимо указать *gameId*\nДля получения данных за день, необходимо указать *dayOffset*",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Идентифиатор матча sstats.net",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "dayOffset",
            "in": "query",
            "description": "День. 0 - сегодня, -1 - вчера, -2 - позавчера, 1 - завтра, 2 - после завтра и т.д. Диапазон: [-1000, 30]",
            "schema": {
              "maximum": 30,
              "minimum": -1000,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Часовой пояс",
            "schema": {
              "maximum": 12,
              "minimum": -12,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Excel/Results": {
      "get": {
        "tags": [
          "Excel"
        ],
        "summary": "Результаты",
        "description": "Извлечение результатов матчей\n            \n            \nОтвет содержит таблицу  \n`Id,Date,HomeHalfTimeScore,AwayHalfTimeScore,HomeFullTimeScore,AwayFullTimeScore,Ended`",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "список матчей через запятую. Максимум 500 значений",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "header",
            "in": "query",
            "description": "Включить заголовок в ответ",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {}
            }
          }
        }
      }
    },
    "/Games/list": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Список матчей",
        "description": "Извлечение списка матчей. Данные о каждом матче возвращаются в сокращенном варианте (Id, время, статус, счет, названия команд их их ID, сезон, тур, коэффициенты).  \nКоэффициенты в сокращенном варианте: 1X2, Total. (на момент ближе к закрытию линии)\n\nДля получения полной информации о конкретном матче используется [/games/{id}](#tag/games/GET/Games/{id})\n            \nОдним запросом можно извлечь не более 1000 матчей. Чтобы извлечь остальные, нужно использовать несколько запросов, увеличивая &offset=N.\n\n**Например**:  \n`&offset=0&limit=10` - отобразит первые 10 матчей  \n`&offset=10&limit=10` - отобразит следующие 10 матчей (пропуская первые 10)\n            \n---\n\n#### Примеры:\nИзвлечение всех матчей по id лиги и году сезона  \nhttps://api.sstats.net/games/list?leagueid=183&year=2022\n\nИзвлечение всех матчей по id сезона 1DC9CB60-0958-11EE-B462-879841420925  \nhttps://api.sstats.net/games/list?seasonUid=1DC9CB60-0958-11EE-B462-879841420925\n\nИзвлечение всех матчей по id лиги и временному интервалу  \nhttps://api.sstats.net/games/list?leagueid=183&from=2022-10-30&to=2022-12-30\n\nПредстоящие матчи команды  \nhttps://api.sstats.net/games/list?upcoming=true&team=529\n\nПрошедшие матчи между командами когда они играли друг с другом (Head 2 Head)  \nhttps://api.sstats.net/games/list?ended=true&bothTeams=529,541",
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "description": "Id матча. Один или несколько через запятую.",
            "schema": {
              "pattern": "^\\d+(?:,\\d+)*$",
              "type": "string"
            },
            "example": "1415356,1469598"
          },
          {
            "name": "FlashId",
            "in": "query",
            "description": "Id матча c Flashscore. Один или несколько через запятую.\n<example>\"vyHkOT87,SYAMaLNi\"</example>",
            "schema": {
              "pattern": "^\\w+(?:,\\w+)*$",
              "type": "string"
            }
          },
          {
            "name": "LeagueId",
            "in": "query",
            "description": "Id лиги\n<remarks>Список лиг можно получить через <code>/leagues</code></remarks>",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            },
            "example": "310"
          },
          {
            "name": "SeasonUid",
            "in": "query",
            "description": "Уникальный идентификатор сезона",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "B1D3B841-5716-11F0-9829-3CECEF730A49"
          },
          {
            "name": "Year",
            "in": "query",
            "description": "Год сезона",
            "schema": {
              "maximum": 2070,
              "minimum": 2011,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            },
            "example": "2025"
          },
          {
            "name": "Date",
            "in": "query",
            "description": "Конкретная дата. В выборку будут включены все матчи за выбранный день.  \nЧтобы указать часовой пояс, используйте параметр <code>TimeZone</code>.",
            "schema": {
              "pattern": "^\\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01])$",
              "type": "string"
            },
            "example": "2025-06-02"
          },
          {
            "name": "From",
            "in": "query",
            "description": "Начальная дата. Если указана только дата без времени, то будут включены все матчи за текущую дату, начиная с полуночи.\nЕсли не указывается время с часовым поясом (2025-06-17T14:23:30+02:00), то часовой пояс необходимо передать отдельно в параметре <code>TimeZone</code><remarks>\nДата + время + часовой пояс: 2025-06-17T14:23:30+02:00  \nДата + время: 2025-06-17T14:23:30  \nДата + время (без секунд): 2025-06-17T14:23  \nДата: 2025-06-17</remarks>",
            "schema": {
              "type": "string"
            },
            "example": "2025-06-17"
          },
          {
            "name": "To",
            "in": "query",
            "description": "Конечная дата. Фильтруются все матчи строго до этой даты. Если указана только дата, без времени, то в выборку включаются все матчи до полуночи указанной даты.\nДля всех дат, где не указан часовой пояс (+02:00) необходимо указать часовой пояс отдельно в параметре <code>TimeZone</code>\nНапример: если To = 2025-06-02, то в выборку попадут все матчи до  2025-06-02 00:00:00. Т.е матчи за само 2025-06-02 уже выборку не попадают\n<remarks>\nДата + время + часовой пояс: 2025-06-18T14:23:30+02:00  \nДата + время: 2025-06-18T14:23:30  \nДата + время (без секунд): 2025-06-18T14:23  \nДата: 2025-06-18</remarks>",
            "schema": {
              "type": "string"
            },
            "example": "2025-06-18"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Статус (см [таблицу статусов](#tag/games/GET/Games/{id}))",
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "uint8"
            },
            "example": "2"
          },
          {
            "name": "HomeTeam",
            "in": "query",
            "description": "Id команды хозяев (один, или несколько через запятую)",
            "schema": {
              "pattern": "^\\d+(?:,\\d+)*$",
              "type": "string"
            },
            "example": "18047,8045"
          },
          {
            "name": "AwayTeam",
            "in": "query",
            "description": "Id команды гостей (один, или несколько через запятую)",
            "schema": {
              "pattern": "^\\d+(?:,\\d+)*$",
              "type": "string"
            },
            "example": "18047,8045"
          },
          {
            "name": "Team",
            "in": "query",
            "description": "Id одной из команд (один, или несколько через запятую).\n<remarks>Если указано несколько Id, то выборку попадут все матчи, где хотя бы одна из команд в это списке</remarks>",
            "schema": {
              "pattern": "^\\d+(?:,\\d+)*$",
              "type": "string"
            },
            "example": "18047,8045"
          },
          {
            "name": "BothTeams",
            "in": "query",
            "description": "Id двух команд через запятую. Матчи двух команд между собой",
            "schema": {
              "pattern": "^\\d+,\\d+$",
              "type": "string"
            },
            "example": "18047,8045"
          },
          {
            "name": "Ended",
            "in": "query",
            "description": "Завершенные матчи (8, 9, 10, 17, 18).  \nУчитывается только True, False не учитывается",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Live",
            "in": "query",
            "description": "Лайв матчи (статусы 3, 4, 5, 6, 7, 11, 18, 19).\nУчитывается только True, False не учитывается",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Upcoming",
            "in": "query",
            "description": "Предстоящие матчи (дата начала матча больше текущего времени + статус: 1,2). Учитывается только True, False не учитывается",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Today",
            "in": "query",
            "description": "Матчи за сегодня. Учитывается только True, False не учитывается",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "Пропустить указанное количество матчей от начала выборки. По умолчанию = 0\n<remarks>\nКоличество матчей выводимое за раз ограничено лимитом 1000 матчей. Чтобы извлечь остальные матчи, используется Offset c указанием количества, которое надо пропустить\n<code>offset=2000</code> - пропустить первые 2000 матчей и получить следущие 1000\n</remarks><example>2000</example>",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "Ограничить выборку указанным количеством матчей (от 1 до 1000)",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "Order",
            "in": "query",
            "description": "Сортировать по убыванию (Order=-1) или по возрастанию (Order=1) даты начала матча",
            "schema": {
              "maximum": 1,
              "minimum": -1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            },
            "example": "-1"
          },
          {
            "name": "TimeZone",
            "in": "query",
            "description": "Ваш часовой пояс (от -12 до 12). По умолчанию = 3",
            "schema": {
              "maximum": 12,
              "minimum": -12,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 3
            },
            "example": "3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaGame[]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfObject"
                }
              }
            }
          }
        }
      }
    },
    "/Games/{id}": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Данные матча",
        "description": "Получить полные данные о конкретном матче. \n            \nМожно передать как числовой Id, использующийся в SStats.net так и строковый Id с Flashscore.com\n            \nПолные данные о матче, включая:\n- основная информация о матче (команды, счёт, статус, время)\n- статистика матча (удары, владение мячом, угловые и т.д.)\n- стартовые составы и тактические схемы команд\n- список игроков в составах с позициями\n- индивидуальная статистика игроков\n- события матча (голы, замены, карточки)\n- информация о стадионе, судье\n- доматчевые коэффициенты закрытия в сокращенном варианте. ([Все коэффициенты здесь](#tag/odds/GET/Odds/{gameId}))\n            \n### Частота обновления данных\n            \n| Тип матча                        | Частота обновления       |\n|---------------------------------|--------------------------|\n| Лайв (идущие сейчас)            | каждую минуту            |\n| Недавние (последние сутки)      | каждые 15 минут          |\n| Доматчевые (до 30 дней назад)   | раз в сутки              |\n            \n### Статусы матча\n\n| Код | Описание                             |\n|-----| -------------------------------------|\n| 1   | Дата матча ещё не объявлена          |\n| 2   | Матч ещё не начался                  |\n| 3   | Начало первого тайма                 |\n| 4   | Перерыв между таймами                |\n| 5   | Начало второго тайма                 |\n| 6   | Дополнительное время                 |\n| 7   | Идёт серия пенальти                  |\n| 8   | Матч завершён                        |\n| 9   | Матч завершён после доп. времени     |\n| 10  | Матч завершён после серии пенальти   |\n| 11  | Перерыв в дополнительном времени     |\n| 12  | Матч приостановлен                   |\n| 13  | Матч прерван                         |\n| 14  | Матч перенесён                       |\n| 15  | Матч отменён                         |\n| 17  | Техническое поражение                |\n| 18  | Победа без игры (соперник не явился) |\n| 19  | Матч в процессе                      |",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "sstats.net ID или Flashscore ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaGameFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfObject"
                }
              }
            }
          }
        }
      }
    },
    "/Games/glicko/{id}": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Glicko 2",
        "description": "Рейтинг Glicko 2 и предсказание вероятностей победы команд",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id матча. Sstats Id в виде числа или Flashscore Id в виде строки",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiGameGlicko"
                }
              }
            }
          }
        }
      }
    },
    "/Games/query": {
      "post": {
        "tags": [
          "Games"
        ],
        "summary": "Расширенный поиск",
        "description": "Извлечение матчей на основе сложных многоуровневых логических условий. \n            \nУсловие использует SQL подобный синтаксис. Сложные выражения поддерживаются в выводимых полях (Fields), в условии (Condition) и сортировке (Order)\n            \n[Подробное руководство](https://sstats.net/posts/api-query-games-2)\n\nПример условия:  \n<code>LeagueId = 39 AND (Year = 2023 OR Year = 2024) AND Winner1 > 1.1 AND Winner1 <= 1.3</code>  \nЭтот запрос выводит все матчи лиги с идентификатором 30 (Английская премьер лига) в сезонах 2023 и 2024,\nу которых коэффициент на победу команды хозяев находится в промежутке от 1.1 до 1.3 (включительно)\n            \n            \n**Field** настраивает выводимые поля  \n**Order** настраивает поля сортировки\n            \n\nЗапрос отправляется в формате POST c типом application/json, в теле которого содержится json с указанным объектом\n            \n#### Подробное руководство по продвинутым запросам [➔ Перейти](https://sstats.net/posts/api-query-games-2)\n---\n\nПример содержимого body запроса:  \n```json\n{\n    \"Condition\" : \"LeagueId = 39 AND (Year = 2023 OR Year = 2024) AND Winner1 > 1.1 AND Winner1 <= 1.3\",\n    \"Fields\" : [\"Id\",\"Date\",\"HomeTeamName\",\"AwayTeamName\",\"ScoreHomeFT\",\"ScoreAwayFT\", \"Winner1\", \"WinnerX\", \"Winner2\"],\n    \"Order\" : \"Date DESC\"\n    \"Format\" : \"csv\"\n}\n``` ",
        "parameters": [
          {
            "name": "timeZone",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 3
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryGamesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryGamesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/QueryGamesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {},
              "text/csv": {}
            }
          }
        }
      }
    },
    "/Games/season-table": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Рейтинговая таблица",
        "description": "Возвращает рейтинговую таблицу команд указанной лиги.\nРейтинговая таблица похожа на обычную турнирную таблицу, но учитывает все матчи всех групп суммарно, либо может учитывать несколько сезонов.\nТ.е это не официальная турнирная таблица, а вычисляемая, с возможностью настройки количества матчей.\nОфициальная турнирная таблица здесь: [/seasons/standings](#tag/seasons/GET/Seasons/standings)\n            \nТаблица формируется на основе результатов завершенных матчей и включает статистику команд:\n- Позицию в турнире\n- Количество игр, побед, ничьих, поражений\n- Забитые и пропущенные голы\n- Очки и другие показатели\n\n**Форматы ответа:**\n- `JSON` (по умолчанию) - структурированные данные для программного использования\n- `CSV` - табличный формат для экспорта в Excel или другие приложения\n\n**Дополнительные возможности:**\n- Ограничение количества записей через параметр `limit`\n- Выбор конкретных полей для CSV через параметр `fields`\n- Сортировка по любому полю через параметр `orderField`\n            \n**Доступные поля для параметра `fields`:**\n\n| Название | Описание |\n|----------|----------|\n| TeamId | ID команды |\n| TeamName | Название команды |\n| TotalGames | Всего игр |\n| Wins | Победы |\n| Draws | Ничьи |\n| Loss | Поражения |\n| GoalsScored | Забитые голы |\n| GoalsMissed | Пропущенные голы |\n| Points | Очки |\n| Over25TotalGames | Игры с тоталом больше 2.5 |\n| Under25TotalGames | Игры с тоталом меньше 2.5 |\n| Over25TotalHomeGames | Домашние игры с тоталом больше 2.5 |\n| Under25TotalHomeGames | Домашние игры с тоталом меньше 2.5 |\n| Over25TotalAwayGames | Гостевые игры с тоталом больше 2.5 |\n| Under25TotalAwayGames | Гостевые игры с тоталом меньше 2.5 |\n| HomeGames | Домашние игры |\n| AwayGames | Гостевые игры |\n| HomeWins | Домашние победы |\n| AwayWins | Гостевые победы |\n| HomeDraws | Домашние ничьи |\n| AwayDraws | Гостевые ничьи |\n| HomeLoss | Домашние поражения |\n| AwayLoss | Гостевые поражения |\n| HomeScored | Голы в домашних играх |\n| AwayScored | Голы в гостевых играх |\n| HomeMissed | Пропущенные голы в домашних играх |\n| AwayMissed | Пропущенные голы в гостевых играх |\n| HomePoints | Очки в домашних играх |\n| AwayPoints | Очки в гостевых играх |\n| ScoreDiff | Разность голов |\n| ScoreDiffHome | Разность голов в домашних играх |\n| ScoreDiffAway | Разность голов в гостевых играх |\n| Rank | Место в турнирной таблице |\n| HomeRank | Место в домашней таблице |",
        "parameters": [
          {
            "name": "league",
            "in": "query",
            "description": "Идентификатор лиги/турнира",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Год сезона",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Максимальное количество матчей для расчета таблицы (0 = без ограничений)",
            "schema": {
              "maximum": 1000,
              "minimum": 5,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Формат ответа: \"json\" (по умолчанию) или \"csv\"",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Список полей через запятую для CSV формата (например: \"TeamName,Points,Wins\")",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderField",
            "in": "query",
            "description": "Поле для сортировки. Для убывающей сортировки добавьте \"-\" перед названием поля",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfRankTable"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfRankTable"
                }
              }
            }
          }
        }
      }
    },
    "/Games/last-games-stats": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Предматчевая статистика команд",
        "description": "Возвращает усреднённые показатели **обеих команд** за их последние N матчей, сыгранных **до даты** указанного матча.\n            \n> **Важно:** метод принимает `gameId` — идентификатор конкретного **матча**, а не команды.\n> Статистика всегда рассчитывается в контексте этого матча: берутся команды-участники и их завершенные матчи.\n            \n### Что возвращается\nДва объекта — `home` (хозяева) и `away` (гости) — каждый содержит:\n- **Голы:** среднее забитых и пропущенных\n- **xG:** среднее xG и xG против (из коэффициентов), MAE и RMSE\n- **Удары, угловые, офсайды, карточки** — средние за и против\n- **Коэффициенты:** средние на победу / ничью / поражение\n- **Форма:** количество побед, ничьих, поражений и `gamesCount`\n            \n### Фильтрация выборки\nПо умолчанию берутся все матчи команды из любых лиг и сезонов.\nПараметры `sameLeague`, `sameSeason` и `homeAway` позволяют сузить выборку.\nЕсли после фильтрации у одной из команд меньше 5 матчей — метод вернёт ошибку.",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Id матча, для которого рассчитывается статистика",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Количество последних матчей для расчёта (от 5 до 100). По умолчанию 25",
            "schema": {
              "maximum": 100,
              "minimum": 5,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "sameLeague",
            "in": "query",
            "description": "Учитывать только матчи в той же лиге, что и матч `gameId`",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sameSeason",
            "in": "query",
            "description": "Учитывать только матчи в том же сезоне и лиге, что и матч `gameId`",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "homeAway",
            "in": "query",
            "description": "Для хозяев — только домашние матчи; для гостей — только выездные",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/Games/text-summary": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Текстовая сводка",
        "description": "Генерирует детальную текстовую сводку по футбольному матчу, включающую:\n\n- **Букмекерские коэффициенты** на все основные исходы (победа, ничья, тоталы)\n- **Ожидаемые голы** (xG) по оценкам букмекеров\n- **Анализ прибыльности** различных типов ставок на основе исторических данных\n- **Статистику команд**: проценты побед/ничьих/поражений, средние коэффициенты\n- **Голевую статистику**: среднее количество забитых/пропущенных голов, точность прогнозов букмекеров\n\nАнализ основан на предыдущих матчах команд с возможностью фильтрации по лиге и типу матчей (дома/в гостях).",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Уникальный идентификатор футбольного матча",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Лимит количества последних матчей (от 5 до 30). 25 - по умолчанию",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "sameLeague",
            "in": "query",
            "description": "Учитывать только матчи из той же лиги что и анализируемый матч (по умолчанию true)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "homeAway",
            "in": "query",
            "description": "Учитывать только домашние матчи для хозяев и гостевые для гостей (по умолчанию false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Текстовая сводка с детальной статистикой и коэффициентами по матчу",
            "content": {
              "application/json": {},
              "text/plain": {}
            }
          }
        }
      }
    },
    "/Games/profits": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Калькуляция прибыли",
        "description": "**Калькуляция прибыли по видам ставок**\n\nАнализирует историческую прибыльность различных видов ставок для домашней и выездной команд на основе их предыдущих матчей.\n\nМетод возвращает детальную статистику по прибыльности ставок:\n- **Полный матч** - анализ ставок за весь матч\n- **Первый тайм** - анализ ставок за первую половину\n- **Второй тайм** - анализ ставок за вторую половину\n\nДля каждого типа ставок показывается:\n- Общая прибыль/убыток\n- История изменения прибыли\n- Количество проанализированных игр\n- Количество выигрышных ставок\n\nПоддерживается гибкая фильтрация исторических данных для более точного анализа.",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Уникальный идентификатор матча для анализа",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "thisLeague",
            "in": "query",
            "description": "Учитывать только игры в рамках той же лиги (по умолчанию: false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "homeAway",
            "in": "query",
            "description": "Учитывать только домашние игры для домашней команды и выездные для выездной (по умолчанию: false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sameGames",
            "in": "query",
            "description": "Учитывать только игры с похожими показателями xG (expected goals) - разница не более 0.2 (по умолчанию: false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "bookieId",
            "in": "query",
            "description": "Идентификатор конкретного букмекера для анализа коэффициентов (опционально)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Максимальное количество предыдущих игр для анализа (по умолчанию: 25, диапазон: 5-100)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiMatchProfit"
                }
              }
            }
          }
        }
      }
    },
    "/Games/injuries": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Игроки пропускающие матч",
        "description": "Игроки не заявленные на матч из-за травмы или дисквалификаций\n            \nТипы `Red Card`, `Yellow Card` означают пропуск игроком матча из-за перебора карточек",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "Идентификатор матча",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiSaInjury"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Leagues": {
      "get": {
        "tags": [
          "Leagues"
        ],
        "summary": "Список",
        "description": "Список всех лиг и их сезонов",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaLeagueWithSeasons[]"
                }
              }
            }
          }
        }
      }
    },
    "/Ls/List": {
      "get": {
        "tags": [
          "Ls"
        ],
        "summary": "Список матчей",
        "description": "Получение списка футбольных матчей с гибкими возможностями фильтрации и сортировки.\n\n**Основные возможности:**\n- Поиск по конкретным матчам, лигам, сезонам и командам\n- Фильтрация по временным периодам (конкретная дата или диапазон)\n- Отбор матчей по статусу: завершенные, текущие (лайв) или предстоящие\n- Пагинация результатов (до 1000 матчей за запрос)\n- Сортировка по дате проведения матча\n\n**Примеры использования:**\n- `?Date=2025-06-21` - все матчи за конкретный день\n- `?From=2025-06-01&To=2025-06-30` - матчи за период\n- `?LeagueId=england/premier-league&Ended=true` - завершенные матчи лиги\n- `?Team=arsenal/hA1Zm19f&Live=true` - текущие матчи команды\n- `?BothTeams=villa/ALztxK6e,chelsea/4fGZN2oK` - матчи между двумя командами\n\n⚠️ **Обязательно** укажите хотя бы один параметр фильтрации, иначе запрос будет отклонен.\n            \n #### Статусы матча\n| Id | Название |\n|----|----------|\n| 1 | Не начался |\n| 45 | К завершению |\n| 42 | Ожидание обновлений |\n| 2 | В прямом эфире |\n| 12 | Первый тайм |\n| 13 | Второй тайм |\n| 6 | Дополнительное время |\n| 7 | Пенальти |\n| 46 | Технический перерыв |\n| 3 | Завершён |\n| 10 | После дополнительного времени |\n| 11 | После пенальти |\n| 9 | Техническая победа |\n| 43 | Отложен |\n| 36 | Прерван |\n| 5 | Отменён |\n| 54 | Присуждён |",
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "description": "Id матча. Один или несколько через запятую.",
            "schema": {
              "maxLength": 300,
              "pattern": "^\\w+(?:,\\w+)*$",
              "type": "string"
            },
            "example": "\"000agg7D или 000agg7D,zZKMD6Z6\""
          },
          {
            "name": "LeagueId",
            "in": "query",
            "description": "Id лиги\n<remarks>Список лиг можно получить через <code>/Ls/Leagues</code></remarks>",
            "schema": {
              "maxLength": 255,
              "type": "string"
            }
          },
          {
            "name": "SeasonId",
            "in": "query",
            "description": "Уникальный идентификатор сезона",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Years",
            "in": "query",
            "description": "Года сезона (Например: 2024-2025)",
            "schema": {
              "type": "string"
            },
            "example": "\"2024-2025\""
          },
          {
            "name": "Date",
            "in": "query",
            "description": "Конкретная дата. В выборку будут включены все матчи за выбранный день. Чтобы указать часовой пояс, используйте параметр <code>TimeZone</code>.\n<example>2025-06-02</example>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "From",
            "in": "query",
            "description": "Начальная дата. Если указана только дата без времени, то будут включены все матчи за текущую дату, начиная с полуночи.\nЕсли не указывается время с часовым поясом (2025-06-17T14:23:30+02:00), то часовой пояс необходимо передать отдельно в параметре <code>TimeZone</code><remarks>\nДата + время + часовой пояс: 2025-06-17T14:23:30+02:00 \nДата + время: 2025-06-17T14:23:30\nДата + время (без секунд): 2025-06-17T14:23\nДата: 2025-06-17</remarks>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "To",
            "in": "query",
            "description": "Конечная дата. Фильтруются все матчи строго до этой даты. Если указана только дата, без времени, то в выборку включаются все матчи до полуночи указанной даты.\nДля всех дат, где не указан часовой пояс (+02:00) необходимо указать часовой пояс отдельно в параметре <code>TimeZone</code>\nНапример: если To = 2025-06-02, то в выборку попадут все матчи до  2025-06-02 00:00:00. Т.е матчи за само 2025-06-02 уже выборку не попадают\n<remarks>\nДата + время + часовой пояс: 2025-06-17T14:23:30+02:00 \nДата + время: 2025-06-17T14:23:30\nДата + время (без секунд): 2025-06-17T14:23\nДата: 2025-06-17</remarks>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Статус",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "uint8"
            }
          },
          {
            "name": "HomeTeam",
            "in": "query",
            "description": "Id команды хозяев (один, или несколько через запятую)\n<example>\"jk-arsenal/MgkAqSU0 или jk-arsenal/MgkAqSU0,villa/ALztxK6e\"</example>",
            "schema": {
              "maxLength": 300,
              "pattern": "^[\\w\\/\\-]+(?:,[\\w\\/\\-]+)*$",
              "type": "string"
            }
          },
          {
            "name": "AwayTeam",
            "in": "query",
            "description": "Id команды гостей (один, или несколько через запятую)\n<example>\"123 или 123,456\"</example>",
            "schema": {
              "pattern": "^[\\w\\/\\-]+(?:,[\\w\\/\\-]+)*$",
              "type": "string"
            }
          },
          {
            "name": "Team",
            "in": "query",
            "description": "Id одной из команд (один, или несколько через запятую).\n<remarks>Если указано несколько Id, то выборку попадут все матчи, где хотя бы одна из команд в это списке</remarks><example>\"123 или 123,456\"</example>",
            "schema": {
              "pattern": "^[\\w\\/\\-]+(?:,[\\w\\/\\-]+)*$",
              "type": "string"
            }
          },
          {
            "name": "BothTeams",
            "in": "query",
            "description": "Id двух команд через запятую. Матчи двух команд между собой\n<example>\"123,456\"</example>",
            "schema": {
              "pattern": "^[\\w\\/\\-]+(?:,[\\w\\/\\-]+)*$",
              "type": "string"
            }
          },
          {
            "name": "Ended",
            "in": "query",
            "description": "Завершенные матчи (8, 9, 10, 17, 18)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Live",
            "in": "query",
            "description": "Лайв матчи (статусы 3, 4, 5, 6, 7, 11, 18, 19)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Upcoming",
            "in": "query",
            "description": "Предстоящие матчи (дата начала матча больше текущего времени + статус: 1,2)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "Пропустить указанное количество матчей от начала выборки. По умолчанию = 0\n<remarks>\nКоличество матчей выводимое за раз ограничено лимитом 1000 матчей. Чтобы извлечь остальные матчи, используется Offset c указанием количества, которое надо пропустить.\n<code>offset=2000</code> - пропустить первые 2000 матчей и получить следущие 1000\n</remarks><example>2000</example>",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "Ограничить выборку указанным количеством матчей (от 1 до 1000)",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "Order",
            "in": "query",
            "description": "Сортировать по убыванию (Order=-1) или по возрастанию (Order=1) даты начала матча",
            "schema": {
              "maximum": 1,
              "minimum": -1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "TimeZone",
            "in": "query",
            "description": "Ваш часовой пояс (от -12 до 12). По умолчанию = 3",
            "schema": {
              "maximum": 12,
              "minimum": -12,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Ls/Teams": {
      "get": {
        "tags": [
          "Ls"
        ],
        "summary": "Команды",
        "description": "Поиск команды по заданным критериям поиска.\n\n**Параметры поиска:**\n- Поиск выполняется по одному из параметров в порядке приоритета: `uid` → `id` → `name`\n- При поиске по названию используется частичное совпадение (содержит указанную строку)\n- Возвращается максимум 100 команд\n\n**Обязательные условия:**\n- Должен быть указан хотя бы один из параметров поиска",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "description": "Уникальный идентификатор команды (GUID). Имеет наивысший приоритет при поиске",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Строковый идентификатор команды. Используется если не указан uid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Название команды или его часть для поиска. Используется если не указаны uid и id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Ls/Leagues": {
      "get": {
        "tags": [
          "Ls"
        ],
        "summary": "Лиги",
        "description": "Получение списка футбольных лиг с возможностью фильтрации по различным критериям.\n\n**Варианты использования:**\n- Без параметров - возвращает все доступные лиги\n- По GUID - получение конкретной лиги (приоритетный поиск)\n- По ID - поиск лиги по строковому идентификатору  \n- По названию - поиск лиг, содержащих указанную подстроку (регистр не учитывается)\n\n**Приоритет фильтров:** GUID > ID > название\n\nЕсли указан GUID, остальные параметры игнорируются. Фильтры по ID и названию могут применяться совместно.",
        "parameters": [
          {
            "name": "guid",
            "in": "query",
            "description": "Уникальный идентификатор лиги (GUID). При указании возвращается только одна конкретная лига",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Строковый идентификатор лиги для точного поиска",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Часть названия лиги для поиска (поиск по подстроке, регистр не учитывается)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Ls/Seasons": {
      "get": {
        "tags": [
          "Ls"
        ],
        "summary": "Сезоны",
        "description": "Возвращает список всех сезонов для указанной футбольной лиги.\n\nМетод позволяет получить информацию о сезонах, используя один из двух способов идентификации лиги:\n- По уникальному идентификатору (`leagueUid`) \n- По строковому идентификатору (`leagueId`)\n\n**Примечание:** Необходимо указать хотя бы один из параметров идентификации лиги.",
        "parameters": [
          {
            "name": "leagueUid",
            "in": "query",
            "description": "Уникальный идентификатор лиги в формате GUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "leagueId",
            "in": "query",
            "description": "Строковый идентификатор лиги (альтернатива leagueUid)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Ls/GameInfo": {
      "get": {
        "tags": [
          "Ls"
        ],
        "summary": "Матч",
        "description": "Возвращает детальную информацию о футбольном матче по его идентификатору.\n\n**Включает:**\n- Основные данные матча (команды, счет, статус, время)\n- Букмекерские коэффициенты (если доступны)\n- События матча (голы, карточки, замены и др.)\n\n**Примеры использования:**\n- Отображение подробной информации о матче в приложении\n- Получение актуальных коэффициентов для ставок\n- Просмотр хронологии событий матча",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Уникальный идентификатор футбольного матча",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Объект с полной информацией о матче или сообщение об ошибке, если матч не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Odds/bookmakers": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "Букмекеры",
        "description": "Справочник букмекеров и их идентификаторов",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaBookmaker[]"
                }
              }
            }
          }
        }
      }
    },
    "/Odds/{gameId}": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "Доматчевые коэффициенты",
        "description": "Полный список всех коэффициентов всех букмекеров.\n            \nПо умолчанию возвращаются коэффициенты закрытия (за несколько минут (15-30) до начала матча)",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "bookmakerId",
            "in": "query",
            "description": "идентификатор букмекера (один или несколько, через запятую). Например: <code>4,5</code>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opening",
            "in": "query",
            "description": "коэффициенты открытия",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaBookmakerOdds[]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Odds/live/{gameId}": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "Live коэффициенты",
        "description": "Коэффициенты актуальные в реальном времени, либо последнее обновление на конец матча\n            \nБукмекер: Bet365\n            \nЛайв коэффициенты обновляются раз в 5-60 секунд\n            \nЧтобы за раз отслеживать все матчи, где изменились коэффициенты, используйте [/updates-only](#tag/odds/GET/Odds/live-changes/{gameId}/updates-only)",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "description": "Идентификатор матча",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaLiveOdds"
                }
              }
            }
          }
        }
      }
    },
    "/Odds/live-changes/updates-only": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "Метки live обновлений",
        "description": "Время последнего обновления (актуальности) Live коэффициентов\n            \nПередайте список Id матчей через запятую.\nНапример: `1100303,1100304`. (Максимально 100 матчей)\n            \nВозвращается Id матча и время последнего обновления Live коэффициентов\n            \nИспользуйте этот метод вместе с [odds/live-changes](#tag/odds/GET/Odds/live-changes/{gameId}) чтобы извлекать весь список коэффициентов только по необходимости\n            \nЛайв коэффициенты обновляются раз в 5-60 секунд",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "description": "идентификатор матча (один или несколько через запятую)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiLiveOddsLastUpdate[]"
                }
              }
            }
          }
        }
      }
    },
    "/Odds/live-changes/{gameId}": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "История Live коэффициентов ",
        "description": "История изменений Live коэффициентов во время матча\n\nБукмекер: Bet365\n\n**Примечание**  \nВ заголовках ответа возвращается `Last-Modified`, который содержит время последнего изменения коэффициентов.\nИспользуйте его что не выкачивать содержимое понапрасну\n\nЧтобы за раз отслеживать все матчи, где изменились коэффициенты, используйте [/updates-only](#tag/odds/GET/Odds/live-changes/{gameId}/updates-only)",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "description": "Id матча",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "description": "Id рынка (один или несколько через запятую)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outcomes",
            "in": "query",
            "description": "Id исхода (один или несколько через запятую)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiMarketChangeHistory[]"
                }
              }
            }
          }
        }
      }
    },
    "/Odds/prematch-markets": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "Типы доматчевых ставок",
        "description": "Справочинк видов ставок для доматчевых коэффициентов (получаемыйх черех [/odds](#tag/odds/GET/Odds/{gameId})\nЭти виды ставок используются как `MarketId`",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Odds/live-markets": {
      "get": {
        "tags": [
          "Odds"
        ],
        "summary": "Типы Live ставок",
        "description": "Справочинк видов ставок для Live коэффициентов (получаемыйх черех [/odds/live](#tag/odds/GET/Odds/live/{gameId})\nЭти виды ставок используются как `MarketId`",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Pari/countries": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Список стран",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariCountry[]"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/leagues": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Список лиг",
        "description": "Список всех лиг в таком же формате, как и на сайте pari.ru\nЕсли у лиги нет страны, значит она относится к международным\nЧтобы отфильтровать только международные лиги, нужно передать countryId = 0\n            \nЗапрос не возвращает все лиги за раз. Используйте пагинацию",
        "parameters": [
          {
            "name": "countryId",
            "in": "query",
            "description": "Id страны (из эндпоинта /countries). 0 - для международных",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Смещение (для пагинации)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Максимальное количество лиг в ответе",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariTournament[]"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/league/{id}": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Лига",
        "description": "Данные по конкретной лиге",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariTournament"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/matches": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Список матчей",
        "description": "Должен быть указан хотя бы один фильтр.\nПараметры live и upcoming можно комбинировать — тогда возвращаются матчи с любым из указанных статусов.\nПараметр date имеет приоритет над dateFrom/dateTo.\n\n**Формат дат:** `YYYY-MM-DD`. Время и часовой пояс игнорируются — фильтрация всегда по дню UTC.\n\n**Пример — матчи за сегодня (2026-05-01):**\n```\nGET /pari/matches?date=2026-05-01\n```\n\nРекомендуется всегда указывать дату (только если не передан live). Так данные будут извлекаться быстрее \n\n**Сортировка**: Если заданы даты, или live или upcoming, то сортировка по возрастанию. Иначе по убыванию\n\n---\n\n## Пагинация (постраничная загрузка)\n\nМетод **никогда не возвращает все матчи сразу** — только срез размером `limit` начиная с позиции `offset`.\nЭто сделано специально, чтобы не перегружать клиент и канал при большом количестве данных.\n\nВ ответе всегда есть поле `totalCount` — общее количество матчей, удовлетворяющих фильтру.\nСравнивайте его с количеством уже полученных записей, чтобы понять — все ли данные загружены.\n\n**Алгоритм получения всех данных:**\n\n1. Первый запрос: `offset=0&limit=100` — получаете первые 100 матчей и значение `totalCount`.\n2. Если `totalCount > 100`, делаете следующий запрос: `offset=100&limit=100`.\n3. Продолжаете увеличивать `offset` на `limit` до тех пор, пока `offset >= totalCount`.\n\n**Пример — загрузить все матчи за день (предположим, их 250):**\n```\nGET /pari/matches?date=2026-05-01&offset=0&limit=100   → получено 100,  totalCount=250\nGET /pari/matches?date=2026-05-01&offset=100&limit=100 → получено 100,  totalCount=250\nGET /pari/matches?date=2026-05-01&offset=200&limit=100 → получено 50,   totalCount=250\n```\nПосле третьего запроса `offset(200) + полученных(50) = 250 = totalCount` — все данные получены.\n\n**Советы:**\n- Максимальный `limit` — **1000**. Увеличивайте его, чтобы уменьшить число запросов.\n- Коэффициенты в списке матчей возвращаются в легком формате `{ id, value }`. Названия исходов можно получить через `/pari/odds/market-types`.\n- Не меняйте фильтры и порядок сортировки между запросами одной серии — иначе страницы не совпадут.",
        "parameters": [
          {
            "name": "countryId",
            "in": "query",
            "description": "Id страны из списка [/pari/countries](#tag/pari/GET/Pari/countries)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "leagueId",
            "in": "query",
            "description": "Id лиги (из эндпоинта /leagues или сайта Pari.ru)",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Конкретный день. Формат: YYYY-MM-DD (например, 2026-05-01). Если указан, dateFrom и dateTo игнорируются",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Начало диапазона дат включительно. Формат: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Конец диапазона дат включительно. Формат: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "Id команды",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "live",
            "in": "query",
            "description": "Только лайв матчи (статус Live и WillStartSoon)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "upcoming",
            "in": "query",
            "description": "Только предстоящие матчи (статус NotStarted)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sortDesc",
            "in": "query",
            "description": "Явное управление сортировкой: true — по убыванию StartDate, false — по возрастанию. Если не указан, направление выбирается автоматически",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeOdds",
            "in": "query",
            "description": "Если true, возвращает актуальные коэффициенты для матчей в формате id/value",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Показывать матчи, удаленны из линии ещё до их начала",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "UTC offset в часах (например, 3 = Москва). Сдвигает границы дат при фильтрации по date/dateFrom/dateTo",
            "schema": {
              "maximum": 12,
              "minimum": -12,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 3
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Сколько записей пропустить от начала выборки. Для первого запроса — 0. Для следующей страницы прибавьте к offset значение limit (например, 0 → 100 → 200). По умолчанию: 0",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Максимальное количество записей в ответе. По умолчанию: 100. Максимум: 1000, или 200 при includeOdds=true. Сравните количество полученных записей с полем totalCount в ответе, чтобы понять, есть ли ещё данные",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariMatch[]"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/match/{eventId}": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Данные матча",
        "description": "Самые актуальные на данный момент данные по матчу\n            \nОбновление данных: раз в 3 секунды\n            \n## Логика заполнения коэффициентов\n            \n- **Матч ещё не начался** — актуальные доматчевые коэффициенты возвращаются в `currentOdds`, поле `prematchOdds` пустое.\n- **Матч идёт (лайв)** — в `currentOdds` лайв-коэффициенты, в `prematchOdds` — последние доматчевые значения (последние коэффициенты до того как матч получил статус Live).\n- **Матч завершён** — `currentOdds` пустое, в `prematchOdds` остаются последние доматчевые коэффициенты.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Id события на сайте pari.ru",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariMatch"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/odds/history/{eventId}": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "История коэффициентов",
        "description": "История изменения коэффициентов (доматчевые и лайв)\n            \nКоэффициент может быть заблокирован (IsBlocked), это значит на него нельзя поставить в данный момент, но при этом его значения могут обновляться.\nПомимо блокировок отдельных коэффициентов может быть блокировка всей линии (IsSuspended)\nТакое обычно происходит в момент когда в игре происходит важное игровое событие (VAR, пенальти...) либо букмекер пересчитывает линию.\n\nЕсли значение коэффициента = 0, значит в этот момент коэффициент был удален из линии",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "Id события (матча) на сайте Pari.ru",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "oddsType",
            "in": "query",
            "description": "Тип коэффициентов: live | prematch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariOddsUpdate[]"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/events/{matchId}": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Игровые события и статистика матча",
        "description": "Возвращает список игровых событий и накопленную статистику матча, вычисленную из потока сырых событий Pari.ru.\n            \nПолный список всех поддерживаемых типов событий [/Pari/events/types](#tag/pari/GET/Pari/events/types)\n\nОбновление данных: раз в 10 секунд",
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "Id матча на сайте pari.ru",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariEvents"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/teams": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Команды",
        "description": "Получить список команд.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Id конкретной команды",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "countryId",
            "in": "query",
            "description": "Id страны",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariTeam[]"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/odds/market-types": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Справочник маркетов и исходов",
        "description": "Полный список маркетов с исходами. Используется для расшифровки outcomeId, возвращаемого в истории коэффициентов.\n\nПримечание: для каждого периода (1ый тайм, 2-ой тайм) outcome id разные. Т.е outcomeId для 1X2:П1 для первого тайма отличается от того же самого 1X2:П1 для второго тайма ",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiPariMarket[]"
                }
              }
            }
          }
        }
      }
    },
    "/Pari/events/types": {
      "get": {
        "tags": [
          "Pari"
        ],
        "summary": "Типы событий",
        "description": "Справочник всех типов игровых событий из [/Pari/events/{matchId}](#tag/pari/GET/Pari/events/{matchId})",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfDictionaryOfintAndstring"
                }
              }
            }
          }
        }
      }
    },
    "/Players/find": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Поиск игрока",
        "description": "Выполняет поиск футболистов по имени или его части. Поиск не чувствителен к регистру и находит всех игроков, \nв именах которых содержится указанная подстрока.\n\n**Особенности:**\n- Поиск выполняется по частичному совпадению\n- Регистр символов не учитывается  \n- Максимальное количество результатов: 100\n- В ответе включается информация о текущей команде игрока\n\n**Пример использования:**\n- `name=ronaldo` - найдет игроков с именем, содержащим \"Ronaldo\"\n- `name=John` - найдет всех игроков с именем, содержащим \"John\"",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Имя или часть имени игрока для поиска (минимум 1 символ)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaPlayerWithTeam[]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfObject"
                }
              }
            }
          }
        }
      }
    },
    "/Players/{id}": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Данные по игроку",
        "description": "Полные данные по игроку: текущая команда и история трансферов",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaPlayerFull"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfObject"
                }
              }
            }
          }
        }
      }
    },
    "/Players/list": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Список игроков",
        "description": "Список всех игроков. Только информация о самом игроке, без команд и трансферов",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "description": "",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaPlayerFull[]"
                }
              }
            }
          }
        }
      }
    },
    "/Players/{id}/events": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "События игрока",
        "description": "Возвращает список событий указанного игрока в хронологическом порядке.\n\n**По умолчанию включает события где игрок:**\n- Является основным участником (голы, карточки, замены и т.д.)\n\n**При включении `includeAssists = true` дополнительно включает:**\n- События где игрок выступает в роли ассистента\n\nСобытия сортируются по дате матча (новые сначала), затем по времени в матче.\nПоддерживается пагинация для работы с большими объемами данных.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Уникальный идентификатор игрока",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeAssists",
            "in": "query",
            "description": "Включать ли события где игрок является ассистентом (по умолчанию false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Количество записей для пропуска (для пагинации)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Максимальное количество записей в ответе (1-1000)",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaEvent[]"
                }
              }
            }
          }
        }
      }
    },
    "/Seasons/standings": {
      "get": {
        "tags": [
          "Seasons"
        ],
        "summary": "Турнирная таблица сезона",
        "description": "Официальная турнирная таблица для сезона.\n            \nНеобходимо заполнить либо `uid` либо `leagueId` + `year`  \nUid сезонов можно узнать здесь: [/leagues](#tag/leagues/GET/Leagues)\n            \n---\n            \nБолее гибкая суммарная рейтинговая таблица: [/games/season-table](#tag/games/GET/Games/season-table)",
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "leagueId",
            "in": "query",
            "description": "",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiStandings"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiStandings"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiStandings"
                }
              }
            }
          }
        }
      }
    },
    "/Teams/list": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Список команд",
        "description": "Список команд с возможностью фильтрации и пагинации",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "Название команды",
            "schema": {
              "maxLength": 100,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "name": "Country",
            "in": "query",
            "schema": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список команд с информацией о пагинации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaTeam[]"
                }
              }
            }
          }
        }
      }
    },
    "/Teams/{id}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Получает детальную информацию о команде по ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор команды",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfApiSaTeamFull"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountInfo": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "apiKey": {
            "type": "string"
          }
        }
      },
      "ApiGameGlicko": {
        "required": [
          "fixture",
          "glicko"
        ],
        "type": "object",
        "properties": {
          "fixture": {
            "$ref": "#/components/schemas/ApiSaGame"
          },
          "glicko": {
            "$ref": "#/components/schemas/ApiGlicko"
          }
        }
      },
      "ApiGlicko": {
        "type": "object",
        "properties": {
          "homeRating": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "float"
          },
          "homeRd": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "float"
          },
          "awayRating": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "float"
          },
          "awayRd": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "float"
          },
          "homeXg": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "null",
              "number",
              "string"
            ],
            "format": "float"
          },
          "awayXg": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "null",
              "number",
              "string"
            ],
            "format": "float"
          },
          "homeWinProbability": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "null",
              "number",
              "string"
            ],
            "format": "float"
          },
          "awayWinProbability": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "null",
              "number",
              "string"
            ],
            "format": "float"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "homeVolatility": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "float"
          },
          "awayVolatility": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "float"
          }
        }
      },
      "ApiLiveOddsLastUpdate": {
        "type": "object",
        "properties": {
          "gameId": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiMarketChangeHistory": {
        "type": "object",
        "properties": {
          "marketId": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int16"
          },
          "marketName": {
            "type": "string"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiOutcomeChanges"
            }
          }
        }
      },
      "ApiMarketProfit": {
        "required": [
          "market",
          "outcomes"
        ],
        "type": "object",
        "properties": {
          "market": {
            "type": "string"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiTeamOutcomeProfit"
            }
          }
        }
      },
      "ApiMatchProfit": {
        "required": [
          "home",
          "homeFirstHalf",
          "homeSecondHalf",
          "away",
          "awayFirstHalf",
          "awaySecondHalf"
        ],
        "type": "object",
        "properties": {
          "home": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiMarketProfit"
            },
            "description": "Профит команды хозяев за основное время"
          },
          "homeFirstHalf": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiMarketProfit"
            },
            "description": "Профит команды хозяев за первые таймы"
          },
          "homeSecondHalf": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiMarketProfit"
            },
[...]
